In [75]:
import sqlalchemy

# Function to set connection with MySql using sqlalchemy module 
# Returns database_connection object
def getDBConnection():
    
    database_username= 'chandana'
    database_password='csingh9'
    database_ip='localhost'
    database_name='project3'
    database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                               database_ip, database_name))
    return database_connection

In [76]:
from sqlalchemy.exc import SQLAlchemyError
import pandas as pd 
from pandas.io import sql
import sqlalchemy
import os

# Function to create tables and insert data from dataframes
# Params passed : sqlalchemy connection and relative directory path where csv files reside
def processInsertCsvToDb(database_connection,dataSetsPath):
    conn=database_connection.connect()
    trans = conn.begin()
    try:
        directory = os.path.join(os.getcwd(),dataSetsPath)
        for root,dirs,files in os.walk(directory):
            for file in files:
                if file.endswith(".csv"):
                    filePath=dataSetsPath+"/"+file
                    tableName= file.lower().replace('.csv', '')
                    df = pd.read_csv(filePath)
                    df.to_sql(con=database_connection, name = tableName, if_exists='replace')
                    print("Records inserted successfully into " +tableName+ " table")
        trans.commit()

    except SQLAlchemyError as e:
        print("Error while performing operations to MySQL", str(e))
        trans.rollback()
        raise
    finally:
        conn.close()
        print("MySQL connection is closed")

In [77]:
import pandas as pd 
from pandas.io import sql
import sqlalchemy

# Function to retrieve dataframe from the data table in MySql
# Params passed : sqlalchemy connection and table name
# Returns dataframe object

def processFetchTableData(database_connection,tablename):
    conn=database_connection.connect()
    query="select * from " + "`"+tablename+"`"
    try:
        df = pd.read_sql_query(query, database_connection)
        return df
    except:
        print("Error while connecting to MySQL")
        raise

In [78]:
# Test to do following operations
# Function calls below to insert the csv file data at a particular directory
# Fetch the results of a particular table to pandas dataframe
# set relative path of activitydataSetsPath and weatherdataSetsPath as per the current directory
connEngine=getDBConnection()
activitydataSetsPath="virtual_coach/2. Activity Datasets"
weatherdataSetsPath="virtual_coach/3. Weather Datasets"
processInsertCsvToDb(connEngine,activitydataSetsPath)
#processInsertCsvToDb(connEngine,weatherdataSetsPath)
dfTable=processFetchTableData(connEngine,'running_07-03-05')

Records inserted successfully into running_07-03-05 table
Records inserted successfully into running_07-10-59 table
Records inserted successfully into running_07-43-57 table
Records inserted successfully into running_08-12-06 table
Records inserted successfully into running_08-47-01 table
Records inserted successfully into running_09-51-41 table
Records inserted successfully into running_09-55-32 table
Records inserted successfully into running_10-15-22 table
Records inserted successfully into running_10-36-19 table
Records inserted successfully into running_10-51-40 table
Records inserted successfully into running_10-55-43 table
Records inserted successfully into running_11-01-28 table
Records inserted successfully into running_11-44-18 table
Records inserted successfully into running_13-17-48 table
Records inserted successfully into running_15-00-22 table
Records inserted successfully into running_16-39-48 table
Records inserted successfully into running_17-22-03 table
Records inserted successfully into running_17-59-58 table
Records inserted successfully into running_18-15-35 table
Records inserted successfully into running_18-17-02 table
Records inserted successfully into running_18-20-02 table
Records inserted successfully into running_18-26-56 table
Records inserted successfully into running_18-34-29 table
Records inserted successfully into running_19-11-05 table
Records inserted successfully into running_19-30-16 table
Records inserted successfully into running_19-38-28 table
Records inserted successfully into running_19-42-30 table
Records inserted successfully into running_19-42-54 table
Records inserted successfully into running_19-43-36 table
Records inserted successfully into running_19-46-35 table
Records inserted successfully into running_19-51-43 table
Records inserted successfully into running_20-00-36 table
Records inserted successfully into running_20-09-27 table
Records inserted successfully into running_20-20-04 table
Records inserted successfully into running_20-24-47 table
Records inserted successfully into running_21-06-52 table
MySQL connection is closed

In [79]:
print(dfTable)

     index  time  activityType  lapNumber  distance  speed  calories  \
0        0     0             0        1.0      0.00   0.00       0.0
1        1     1             0        1.0      0.00   0.00       0.0
2        2     2             0        1.0      2.08   1.62       0.0
3        3     3             0        1.0      3.05   1.67       0.0
4        4     4             0        1.0      4.50   1.62       0.0
5        5     5             0        1.0      6.18   1.58       0.0
6        6     6             0        1.0      7.99   1.79       0.0
7        7     7             0        1.0     10.00   1.90       0.0
8        8     8             0        1.0     12.16   2.22       0.0
9        9     9             0        1.0     14.46   2.48       1.0
10      10    10             0        1.0     16.89   2.68       1.0
11      11    11             0        1.0     19.42   2.87       1.0
12      12    12             0        1.0     22.03   2.93       1.0
13      13    13             0        1.0     24.70   2.93       1.0
14      14    14             0        1.0     27.41   2.89       2.0
15      15    15             0        1.0     30.16   2.83       2.0
16      16    16             0        1.0     32.93   2.83       2.0
17      17    17             0        1.0     35.72   2.74       2.0
18      18    18             0        1.0     38.52   2.68       3.0
19      19    19             0        1.0     41.35   2.68       3.0
20      20    20             0        1.0     44.20   2.71       3.0
21      21    21             0        1.0     47.07   2.73       3.0
22      22    22             0        1.0     49.98   2.77       3.0
23      23    23             0        1.0     52.89   2.87       4.0
24      24    24             0        1.0     55.80   2.88       4.0
25      25    25             0        1.0     58.71   2.90       4.0
26      26    26             0        1.0     61.62   2.92       4.0
27      27    27             0        1.0     64.53   2.95       5.0
28      28    28             0        1.0     67.44   2.98       5.0
29      29    29             0        1.0     70.35   2.99       5.0
..     ...   ...           ...        ...       ...    ...       ...
942    942   942             0        3.0   2929.14   3.28     221.0
943    943   943             0        3.0   2932.27   3.28     221.0
944    944   944             0        3.0   2935.01   3.28     221.0
945    945   945             0        3.0   2938.32   3.28     222.0
946    946   946             0        3.0   2941.78   3.28     222.0
947    947   947             0        3.0   2944.70   3.28     222.0
948    948   948             0        3.0   2947.91   3.25     222.0
949    949   949             0        3.0   2951.02   3.25     223.0
950    950   950             0        3.0   2954.15   3.26     223.0
951    951   951             0        3.0   2954.54   3.26     223.0
952    952   952             0        3.0   2957.43   3.26     223.0
953    953   953             0        3.0   2960.54   3.25     223.0
954    954   954             0        3.0   2964.53   3.23     224.0
955    955   955             0        3.0   2967.54   3.23     224.0
956    956   956             0        3.0   2970.80   3.23     224.0
957    957   957             0        3.0   2973.44   3.23     224.0
958    958   958             0        3.0   2976.72   3.23     225.0
959    959   959             0        3.0   2979.81   3.23     225.0
960    960   960             0        3.0   2982.25   3.21     225.0
961    961   961             0        3.0   2985.48   3.21     225.0
962    962   962             0        3.0   2988.63   3.21     226.0
963    963   963             0        3.0   2991.18   3.21     226.0
964    964   964             0        3.0   2994.30   3.21     226.0
965    965   965             0        4.0   2997.45   3.19     226.0
966    966   966             0        4.0   3000.26   3.19     227.0
967    967   967             0        4.0   3003.12   3.19     227.0
968    968   968             0        4.0   3005.18   3.18     227.0
969    969   969             0        4.0   3008.57   3.18     227.0
970    970   970             0        4.0   3010.12   3.16     227.0
971    971   971            -1        NaN   3010.12    NaN       NaN

           lat       long  elevation  heartRate  cycles
0    42.953842 -78.829602      196.5       94.0     0.0
1    42.953856 -78.829601      196.5       95.0     0.0
2    42.953868 -78.829604      196.6       95.0     0.0
3    42.953880 -78.829612      196.6       96.0     0.0
4    42.953891 -78.829625      196.6       96.0     0.0
5    42.953902 -78.829642      196.6       95.0     0.0
6    42.953912 -78.829663      196.6       94.0     9.0
7    42.953922 -78.829686      196.6       92.0     2.0
8    42.953932 -78.829713      196.6       90.0     3.0
9    42.953941 -78.829741      196.6       89.0     3.0
10   42.953951 -78.829772      196.6       89.0     3.0
11   42.953961 -78.829804      196.6       90.0     3.0
12   42.953971 -78.829838      196.5       90.0     3.0
13   42.953982 -78.829872      196.5       91.0     3.0
14   42.953993 -78.829906      196.5       93.0     2.0
15   42.954004 -78.829941      196.5       94.0     3.0
16   42.954017 -78.829974      196.5       95.0     3.0
17   42.954030 -78.830007      196.5       99.0     3.0
18   42.954044 -78.830039      196.5      101.0     3.0
19   42.954058 -78.830070      196.5      102.0     2.0
20   42.954073 -78.830101      196.6      101.0     3.0
21   42.954088 -78.830131      196.6      102.0     3.0
22   42.954103 -78.830161      196.6      105.0     3.0
23   42.954118 -78.830191      196.6      106.0     3.0
24   42.954133 -78.830220      196.6      108.0     3.0
25   42.954148 -78.830250      196.6      108.0     3.0
26   42.954162 -78.830280      196.6      110.0     2.0
27   42.954176 -78.830310      196.6      111.0     3.0
28   42.954189 -78.830340      196.5      112.0     3.0
29   42.954202 -78.830371      196.4      112.0     3.0
..         ...        ...        ...        ...     ...
942  42.953859 -78.829722      196.3      151.0     2.0
943  42.953844 -78.829689      196.4      151.0     3.0
944  42.953829 -78.829657      196.4      151.0     3.0
945  42.953814 -78.829624      196.4      152.0     3.0
946  42.953799 -78.829592      196.4      155.0     3.0
947  42.953784 -78.829560      196.4      154.0     3.0
948  42.953769 -78.829529      196.4      154.0     2.0
949  42.953756 -78.829500      196.4      154.0     3.0
950  42.953742 -78.829471      196.4      153.0     3.0
951  42.953729 -78.829442      196.4      152.0     3.0
952  42.953716 -78.829414      196.5      150.0     3.0
953  42.953703 -78.829386      196.5      150.0     3.0
954  42.953690 -78.829358      196.5      151.0     2.0
955  42.953676 -78.829328      196.5      151.0     3.0
956  42.953661 -78.829299      196.5      151.0     3.0
957  42.953645 -78.829268      196.6      151.0     3.0
958  42.953629 -78.829237      196.6      150.0     3.0
959  42.953612 -78.829207      196.6      151.0     3.0
960  42.953595 -78.829177      196.6      151.0     2.0
961  42.953578 -78.829147      196.6      153.0     3.0
962  42.953561 -78.829119      196.5      154.0     3.0
963  42.953545 -78.829093      196.5      154.0     3.0
964  42.953528 -78.829068      196.5      153.0     3.0
965  42.953512 -78.829045      196.4      153.0     2.0
966  42.953496 -78.829025      196.4      152.0     3.0
967  42.953481 -78.829007      196.4      154.0     3.0
968  42.953467 -78.828993      196.3      151.0     2.0
969  42.953454 -78.828982      196.3      152.0     3.0
970  42.953442 -78.828975      196.3      153.0     2.0
971        NaN        NaN        NaN        NaN     NaN

[972 rows x 12 columns]